.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 375px;
    margin: 0 auto;
    padding: 24px;
    align-items: center;
}
.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 327px;
}

@media screen and (min-width: 788px) {
    .container {
        max-width: 788px;
        padding: 40px;
        gap: 40px;
    }
    .reviews-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 40px 80px;
    }
    .reviews-container {
        display: grid;
        width: 1120px;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}